body
{
	font-size: 16px;
	font-family: 'oxygen', sans-serif;
}
#header-nav
{
	background-color: gray;
	border-radius: 0;
	border: 0;
}
.navbar-brand h1
{
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	line-height: .75;
	margin-bottom: 10px;
	margin-top: 10px;

}
#collapsable-nav
{
	text-align: center;
	color: gray;
}
.text
{
	text-align: center;
	font-weight: bold;
	
}
.para
{
	background-color: gray;
	margin-top: 10px;
	margin-bottom: 50px;
	}
h3
{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 0;

}
#para1
{
	margin-bottom: 20px;
	font-weight: bold;
	padding-left: 5px;
}
@media(max-width:767px)
{
	#collapsable-nav
{
	color: black;
	width: bold;
}
}